* {
  margin: 0;
  padding: 0;
  background-color: rgb(21, 13, 13);
  box-sizing: border-box;
  font-family: sans-serif;
  color: aliceblue;
  font-size: 16px;
}

main {

  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;


}

main .one {

  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-right: 50px;


}

main .one .myButton {
  box-shadow: 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 40px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}

main .one .myButton:hover {
  background: linear-gradient(to bottom, #1c1b1b 5%, #71660f 100%);
  background-color: #ffab23;
  color: white;
}

main .one .myButton:active {
  position: relative;
  top: 1px;
}

main .two {
  width: 100vw;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
}

main .two article ul li {

  list-style: inside;
  padding: 5px;
  list-style-type: circle;
}

main .two article ul {
  margin-top: 10px;
  margin-bottom: 10px;

}

main .two article {

  border: 1px solid rgb(245, 241, 241);
  border-radius: 5px;
  width: 40%;
  height: 100%;
  transition: all 0.3s;
  position:relative;


}

main .two article h2 {
  text-align: center;
  margin-top: 5px;
}

main .two article p {
  position:absolute;
  right:20px;
  bottom:10px;
    }

main .two article:hover {
  border-left: 8px solid aliceblue;
cursor: pointer;
}


















@media (max-width:1000px) {

  main .two article{
width: 100%;


  }

  main .two article h2 {
    font-size: 20px;

  }

  main .two article p {
    font-size: 20px;

  }

  main .two article ul li {
    font-size: 20px;

  }

  main .one {
flex-direction: column; 
width: 60%; }
}

















main .three button {

  padding: 10px 20px;
  background-color: #333333;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 5px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-top: 200px;

}







@media (max-width:500px) {

  main .two article{
width: 80vw;
  }

  main .two article h2 {
    font-size: 15px;

  }

  main .two article p {
    font-size: 10px;

  }

  main .two article ul li {
    font-size: 20px;

  }

  main .one {
flex-direction: column; 
justify-content: center;
align-items: center;
width: 60%; }
}
